<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- JQury from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <link th:href="@{css/board_list.css}" rel="stylesheet" />
        <title>목록</title>
</head>
<div class = "board_body">
    <div th:replace="fragments/navbar :: headerFragment"></div>
        <div layout:fragment="content">
            <div class="content_list">
                <div class="content_header">
                    <a th:href="@{boardinsert}" class="button_nav_list_insert">글쓰기</a>
                </div>

                <div class="content_body">
                    <table class="table_board_list">
                        <thead class="th_board_list">
                        <tr>
                            <th class="th_title">제목</th><th class="th_file">첨부파일</th><th class="th_date">작성 날짜</th>
                        </tr>
                        </thead>
                        <tbody class="tbl_list_tbody">
                        <tr th:if="${boardList.empty}">
                            <td colspan="2"> No Information Available </td>
                        </tr>
                        <tr th:each="boardList: ${boardList}" class="tr_list_row">
                            <td th:text="${boardList.title}" class="td_list_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat.</td>
                            <td th:img="${boardList.save_path}" class="td_list_file"><img src="https://via.placeholder.com/100x60/f7c5c5" /></td>
                            <td th:text="${boardList.reg_date}"  class="td_list_date">2020.01.15</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <th:block layout:fragment="scripts">
                <script src="/js/hello.js"></script>
            </th:block>
        </div>
</div>
</html>