<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세 페이지</title>
    <link th:href="@{css/board_read.css}" rel="stylesheet"/>
</head>
<body><img src="https://via.placeholder.com/550x260/d3d3d3" alt="board_img_info"/>
<div class="board_container" th:each="boardread: ${boardread}">
    <div class="info_header_container">
        <div class="info_header" th:text="${boardread.title}">Header Line</div>
    </div>
    <div class="info_body_container"><img class="board_img_tag" th:if="${boardread.save_path}"
                                          th:src="'/'+ ${boardread.file_name}"/> <img th:unless="${boardread.save_path}"
                                                                                      src="https://via.placeholder.com/550x260/d3d3d3" alt="board_img_info" width=550px
                                                                                      height=260px /></div>
    <div class="info_footer_container">
        <div class="info_footer_content">
            <a href="#" class="btn_close" onclick="btn_close()">닫기</a>
        </div>
    </div>
</div>
</body>
</html>