<!DOCTYPE html>
<script src=https://code.jquery.com/jquery-3.6.0.js></script>
<!-- jQuery Validation Plugin-->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">


  <title>목록</title>
  <!-- content.html 고유 CSS 추가 -->
  <th:block layout:fragment="css">
    <link th:href="@{css/board_insert.css}" rel="stylesheet" />
  </th:block>

  <!-- contento.html 고유 스크립트 추가 -->
  <th:block layout:fragment="script">
    <!--    <script>-->
    <!--        alert("hello.html");-->
    <!--    </script>-->
  </th:block>
<div class="body">

  <div layout:fragment="content">
    <div class="insert_box">
      <div class="heading_row">
        <div class="insert_heading">글쓰기</div>
        <div class="button_wrapper">
          <a href="#" class="cancel_button" onclick="onReset()">취소</a>
          <a href="#" class="save_button" onclick="boardSubmit()">저장</a>
        </div>
      </div>
      <div class="insert_body">
        <div class="insert_body_content">

          <!-- Board Insert Form -->
          <form name="boardDTO" id="boardInsert" class="form" th:action="@{/board/insert}" th:object="${boardDTO}"  method="post" enctype="multipart/form-data" >
            <div class="insert_body_row1">
              <label for="insert_title"></label>
              <input type="text" name="insert_title" id="insert_title" class="form-component insert_box_text_title" th:field="*{title}" placeholder="제목을 입력하세요" required>
              <input type="reset" value="reset" style="display:none" />
            </div>
            <div class="insert_body_row2_wrapper">
              <div class="insert_body_row2">
                <input type="text" name="file_name" id="file_name" class="form-component insert_box_file_name" th:field="*{file_name}" placeholder="선택된 파일 없음">
                <input type="file" name="file" id="input_file_btn" accept=".jpg, .png" style="display: none"/>
                <label for="file_name" >
                  <a href="#" class="insert_img_button" onclick="uploadFile()">찾아보기..</a>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>

  //HTML LINK TO BUTTON CONVERSION
    function uploadFile(){
      const input = document.getElementById("input_file_btn")
      input.click();
      const filename = document.getElementById("input_file_btn").val();

    }

    function boardSubmit(){
      const title = document.getElementById("insert_title").value;
      const file_name = document.getElementById("input_file_btn").value;
      const submitBtn = document.getElementById("boardInsert");

      if(title ==""){
        alert("내용을 입력하세요");
        $("#boardInsert.insert_title").focus();
        return;
      }
      // alert("title + file_name : " + title + file_name);
      if(!confirm("게시글을 등록 하실래요?")) return;
      submitBtn.submit();
    }

    //파일명을 text field에 출력
  //   function myFunction() {
  //   const x = document.getElementById("input_file_btn").value;
  //   document.getElementById("file_name").innerHTML = x;
  // }
    // function onReset() {
    //   $(":reset").css("background-color", "#F98700");
    // }
  // $(document).ready(function onReset(){
  //   $(":reset").css("background-color", "#F98700");
  // });


    // //Form reference
    // const frm = $("#boardInsert")
    //
    // //Submit 버턴
    // const submitBtm = document.getElementById("boardInsert");
    //
    // //field value
    // const board_title = $("#boardInsert.insert_box_text_title").val();
    // const file_name = $("#file_name").val();
    // $("boardInsert.board_title")
    // //Client-side 유효성 체크
    // if (board_title == ""){
    //   alert("내용을 입력해주세요!");
    //   $("#boardDTO.board_title").focus();
    //   return;
    // }else if(file_name === ""){
    //   alert("사진 하나 업로딩 해주세요!")
    //   return;
    // }
    // if(!confirm("개사굴울 등록하실래요?")) return;
    //
    // submitBtm.submit();
    // //사진 고르기
    // function uploadBtn(){
    //
    // }
  </script>


</html>