<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/board_default}">


  <title>목록</title>
  <!-- content.html 고유 CSS 추가 -->
  <th:block layout:fragment="css">
    <link th:href="@{css/board_insert.css}" rel="stylesheet" />
  </th:block>

  <!-- contento.html 고유 스크립트 추가 -->
  <th:block layout:fragment="script">
    <!--    <script>-->
    <!--        alert("hello.html");-->
    <!--    </script>-->
  </th:block>

<div layout:fragment="content">
  <div class="insert_box">
    <div class="heading_row">
      <div class="insert_heading">글쓰기</div>
      <div class="button_wrapper">
        <a href="#" class="cancel_button">취소</a>
        <a href="#" class="save_button" onclick="submit()">저장</a>
      </div>
    </div>
    <div class="insert_body">
      <div class="insert_body_content">
        <form id="boardInsert" th:action="@{/board/insert}" th:object="${yourFormBean}"  method="post">
          <div class="insert_body_row1">
            <label for="insert_title"></label>
            <input type="text" id="insert_title" class="form-component" th:field="*{insert_title}" name="insert_title" placeholder="제목을 입력하세요">
          </div>
          <div class="insert_body_row2_wrapper">
            <div class="insert_body_row2">
              <label for="file_name"></label>
              <input type="text" id="file_name" class="form-component" th:field="*{file_name}"  name="file_name" placeholder="선택된 파일 없음">
              <a href="#" class="insert_img_button" onclick="uploadBtn()">찾아보기..</a>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <script = "javascript">
      var title = ${'#insert_title'}
  </script>
</html>