<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{board_default.html}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/board_default.css}" rel="stylesheet"/>
    <link th:href="@{css/navbar.css}" rel="stylesheet"/>
    <!--    <title>Carrot-i Homepage</title>-->
    <!--  공통 페이지 제목. + 각 페이지 제목  -->
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Carrot-i Homepage</title>
</head>

<body>

<!--Header/Navbar-->
<div th:replace="fragments/navbar.ht ml">
    <div class="myLocation">
        Carrot-i Homepage mylocation
    </div>
</div>

<!--fragment container-->
<section layout:fragment="list-page">
    Hello Hello Hello

</section>
<!--static html-->

<div class="testfooter">
    Footer. Made by Woong. Testing.
</div>

</body>

</html>